<html>
    <head>
        <meta charset="UTF-8">
        <title> Register </title>           
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Register</h1>
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('signup') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Username" class="textbox"/></br></br>
                    <input id="password" name="password" type="password" placeholder="Password" class="textbox"/></br></br>
                    <input id="email" name="email" type="text" placeholder="Email ID" class="textbox"/></br></br>
                    <input id="firstName" name="firstName" type="text" placeholder="First Name" class="textbox"/></br></br>
                    <input id="lastName" name="lastName" type="text" placeholder="Last Name" class="textbox"/></br></br>
                    <input type="submit" class="btn" value="Sign Up"></br>
                </form>
          </div>
        </div>
    </body>
</html>