<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Portal</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}</h1>
    <p>First Name: {{ user.firstName }}</p>
    <p>Last Name: {{ user.lastName }}</p>
    <p>Age: {{user.age}}</p>
    <p>Gender: {{user.gender}}</p>
    <p>Interests: {{user.interests}}</p>
    <p>Occupation: {{user.occupation}}</p>
    <p>Education Level: {{user.education_level}}</p>
    <p>Major: {{user.major}}</p>
    <form action="{{ url_for('profile.profile') }}">
        <button type="submit" class="button">Edit</button>
</body>
</html>
